<div class="container">
	<div class="row">
		<div class="col-md-12">
			<center>
				<h1>Got A Project?</h1>
			</center>
			<center>
				<h2>Have you gotten stuck?</h2>
			</center>
			<center>
				Click the button where you are stuck and we will help you out
			</center>
		</div>
	</div>
	<br>
	<div class="row">
		
	
		<div class="col-md-4">
			<%= link_to "Demo", test_path, class: "btn btn-primary" %>
		</div>
		<div class="col-md-4">
			<%= link_to "HVAC", hvac_path, class: "btn btn-primary" %>
		</div>
		<div class="col-md-4">
			<%= link_to "Framing", framing_path, class: "btn btn-primary" %>
		</div>
		
	</div>
</div>